.dashboard-container {
  padding: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  text-align: center;
  padding: 20px;
  font-size: 18px;
}

mat-card-title {
  font-weight: bold;
  color: #3f51b5;
}

mat-card-content {
  font-size: 32px;
  margin-top: 10px;
}
