<div class="dashboard-container">

  <div class="cards">

    <mat-card class="card">
      <mat-card-title>Membres</mat-card-title>
      <mat-card-content>{{ nbMembers }}</mat-card-content>
    </mat-card>

    <mat-card class="card">
      <mat-card-title>Publications</mat-card-title>
      <mat-card-content>{{ nbPublications }}</mat-card-content>
    </mat-card>

    <mat-card class="card">
      <mat-card-title>Événements</mat-card-title>
      <mat-card-content>{{ nbEvents }}</mat-card-content>
    </mat-card>

    <mat-card class="card">
      <mat-card-title>Outils</mat-card-title>
      <mat-card-content>{{ nbTools }}</mat-card-content>
    </mat-card>

  </div>

</div>
